// Base styles

html,
h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
time,
ul,
li {
  font-family: 'Nunito', sans-serif;
  color: $black;
}

time {
  display: block;
}

/**
 * 1. Pure CSS text truncation.
 * 2. Hang/outdent the indicator.
 */
.c-reveal__content {
  cursor: pointer;
  white-space: nowrap; /* [1] */
  overflow: hidden; /* [1] */
  text-overflow: ellipsis; /* [1] */
  padding-left: 1em; /* [2] */
  text-indent: -1em; /* [2] */

  /**
   * Disable truncation when expanded.
   */
  .c-reveal[open] > & {
    white-space: normal;
  }
}
